    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Pas artikel aan [Artikelnummer: {{artikel.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="artikels_form" class="form-horizontal" role="form" novalidate>

            <form-element label="NAAM" mod="Naam">
                <input type="text" class="form-control" name="Naam" placeholder="NAAM" ng-model="artikels.naam"/>
                 <small class="errorMessage" ng-show="artikels_form.naam.$dirty && artikels_form.naam.$invalid"> Vul de naam in</small>
            </form-element>

            <form-element label="BESCHIKBAARHEID" mod="artikels.beschikbaarheid">
                <input type="text" name="Beschikbaarheid" class="form-control" placeholder="BESCHIKBAARHEID" ng-model="artikels.beschikbaarheid"/>
                <small class="errorMessage" ng-show="artikels_form.beschikbaarheid.$dirty && artikels_form.beschikbaarheid.$invalid"> Vul de beschikbaarheid in</small>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Annuleren</a>
                        <button ng-click="saveArtikel(artikels);"
                                ng-disabled="artikels_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

