<h4 class="blog-post-primary">Leenstelsel AP hogeschool</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(artikels);">&nbsp;Voeg nieuwe artikel toe</button>

<div class="table-responsive">
<div class="panel panel-info">
  <div class="panel-heading">Lijst van artikelen
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter artikel ..." class="nav-search-input" ng-model="filterArtikel" ng-change="resetLimit();"  autocomplete="on" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-condensed">
    <tr ng-show="artikel.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="artikel.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in artikel | filter:filterArtikel | orderBy:'+id'" id="{{c.id}}" animate-on-change='c.id + c.naam + c.beschikbaarheid' ng-animate=" 'animate'">
        <td>{{c.naam}}</td>
        <td ng-show="c.beschikbaarheid==1">Beschikbaar</td>
        <td ng-show="c.beschikbaarheid==0">Onbeschikbaar</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteArtikel(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              